# @author R+Preghenella - August 2017

# simulation configuration
simulation.run_id			123456
simulation.nevents			10

# module configuration
module.*.status				active

# generator configuration
generator.diamond_xyz			0.0, 0.0, 0.0	# [cm]
generator.diamond_sigma_xyz		0.1, 0.1, 0.6 	# [cm]
generator.*.energy			13000	      	# [GeV]
generator.pythia6.status		active
generator.pythia6.tune			perugia 2011
generator.pythia6.process		charm